*{
    box-sizing: border-box;
}
body{
    margin: 0;    
    background-color: #D5F6F0;
}
header{        
    display: flex;
    padding: 0.5em;
    height: 60px;   
    grid-column: 1 / 11;
    background-color: white;
}
#wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}
#content{
    grid-column: 1 / 9;
    grid-row: 2 / 10;
    width: 90%;
    margin: 0 auto;
}
footer{
    grid-column: 1 / 11;        
}
#fullfade{
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: 0.5;
    display: none;
}
#navBar{
    position: fixed;
    height: 100%;
    width: 0;
    right: 0;
    background: yellow;
    transition: width .4s;
    z-index: 2;
}
.toggle{
    width: 60% !important;
}
#navTrigger{
    align-self: right;
}
.verticalHalf{
    height: auto;
    padding: .5em;
}
.verticalHeader{
    height: 10%;
}
.verticalTxt{
    padding: 1em .5em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
h2{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
#navBarHeader{        
    height: 10%;
    background: lightblue;
}

#grid{
    background-color: #D5F6F0;
}

#found{
    grid-column: 1 / 9;
    grid-row: 2 / 10;
    padding: 1em 1em .6em;

    border: dashed 1px grey;
    background-color: white;
}

#divFound{
    width: 90%;
}

.divfoundQuestion{
    background-color: #FC3667;
    border-radius: 3px;
    margin: 0.5em;
    padding: 0.5em;
    display: flex;
}
.divVotes{
    text-align: center;
}
.divQuestionInfo{
    width: 100%;
    margin-left: 3%;
}
.questionHeader a{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: white;
}
.questionData{
    overflow: hidden;
    word-wrap: break-word;
    display: flex;
    justify-content: space-between;
}
#questionOwner{
    float: right;
    color: white;
}

@media (max-width: 800px){
    #found{
        grid-column: 1 / 11;
    }
}

@media (min-width: 1000px){
    #divNavTrigger{
        display: none;
    }
    #navBar{
        width: 20%;
    }
    .verticalTxt{
        width: 100% !important;
    }
    #questions{
        display: flex;
        width: 80%;
    }
}
@media (max-width: 1000px){
    .verticalTxt {
        width: 100%;
    }
    #content{
        grid-column: 1 / 11;
        grid-row: 2 / 10;
    }
    #navBarHeader {
        height: 15%;
    }
    .toggle{
        width: 40% !important;
    }
}
@media (max-width: 450px){
    #divSearch input{
        width: 125px !important;
    }
    #navBarHeader {
        height: 10%;
    }
    .toggle{
        width: 60% !important;
    }
}