#profile{
    grid-column: 1 / 9;
    grid-row: 2/10;
    display: flex;
}
#profileImg{
    height: 40%;
    text-align: center;
    padding: 1em;
}
#profileImg img{
    height: 150px;
    width: 150px;
}
#profileImg form{
    margin-top: 2%;
}
#profileData{
    height: 40%;
    width: 100%;
}
#profileData input{
    display: block;
}
#profileData form{
    width: 50%;
    margin: 0 25%;
}
@media (min-width: 800px){
    #profile{
        align-items: center;
    }
}

@media (max-width: 800px){
    #profile{
        grid-column: 1 / 11;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 450px){

}