*{
    box-sizing: border-box;
}
body{
    margin: 0;    
    background-color: #D5F6F0;
    
}
header{
    grid-column: 1 / 11;     
    display: flex;
    padding: 0.5em;
    height: 60px;
    background-color: white;
}
#wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}
#content{
    grid-column: 1 / 9;
    grid-row: 2 / 10;
}
footer{
    grid-column: 1 / 11;        
}
#fullfade{
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: 0.5;
    display: none;
}
#navBar{
    position: fixed;
    height: 100%;
    width: 0;
    right: 0;
    background: yellow;
    transition: width .4s;
    z-index: 2;
}
.toggle{
    width: 60% !important;
}
.verticalHalf{
    height: auto;
    padding: .5em;
}
.verticalHeader{
    height: 10%;
}
.verticalTxt{
    padding: 1em .5em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
h2{
    margin: 0;
}
#navBarHeader{        
    height: 10%;
    background: lightblue;
}


@media (min-width: 1000px){
    #divNavTrigger{
        display: none;
    }
    #navBar{
        width: 20%;
    }
    .verticalTxt{
        width: 100% !important;
    }
    #questions{
        display: flex;
        width: 80%;
    }
}
@media (max-width: 1000px){
    .verticalTxt {
        width: 100%;
    }
    #content{
        grid-column: 1 / 11;
        grid-row: 2 / 10;
    }
    #questions{
        height: 60%;
    }
    #navBarHeader {
        height: 15%;
    }
    .toggle{
        width: 40% !important;
    }
}
@media (max-width: 450px){
    #divSearch input{
        width: 125px !important;
    }
    #navBarHeader {
        height: 10%;
    }
    .toggle{
        width: 60% !important;
    }
}

#content{
    background-color: white;
    margin: 10px auto;
    width: 100%;
    padding: 0 .5em;
    width: 90%;
}

@media (max-width: 800px){
    #content{width: 90%;}
}

.divQuestion{
    background-color: white;
}

#header{
    font-size: 1.5em;
}

#content input{
    height: 40px;
    width: 95%;
    word-wrap: break-word;
    border: 0.5px grey solid;
    

}

#content input:disabled{
    outline: none;
    border-color: white;
    box-shadow: none;
    background-color: white;
    border:none;
}


.divQuestion textarea:disabled{
    outline: none;
    border-color: white;
    box-shadow: none;
    background-color: white;
    border:none;
}

#rawData{
    width: 95%;
}

h3{
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 0px;
}

select{
    margin: 10px 0;
}
#answerDiv{
    background-color: white;

}

#answerDiv div{
    border: 1px #A9F7E8 solid;
    padding-top: 0px;
    margin: 5px 0px;
    width: 100%;
    display: flex;
}
.votes{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20% !important;
    border: 0 !important;
}
.votes>div{
    width: 100% !important;
    margin-bottom: 0 !important;
}
.answerTxt{
    display: flex;
    flex-direction: column;
    width: 80% !important;
    border: 0 !important;
}
#answerDiv div *{
    margin-top: 0px;

}
#urls a
{
    color:indianred;
    text-decoration:none;
}
#urls a:hover
{
    color:aqua;
}
@media (min-width: 800px){
    .votes{
        width: 10% !important;
    }
}