*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
@media (max-width: 700px){
    header{
        height: 100%;
        display: flex;
        padding: 0.5em;
        width: 100%;
    }
    #wrapper{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    #content{
        height: 85%;
    }
    footer{
        height: 5%;
    }
    #fullfade{
        width: 100%;
        height: 100%;
        position: absolute;
        background: black;
        opacity: 0.5;
        display: none;
    }
    #navBar{
        position: fixed;
        height: 100%;
        width: 0;
        right: 0;
        background: yellow;
        transition: width .4s;
    }
    .toggle{
        width: 60% !important;
    }
    #navTrigger{
        align-self: right;
    }
    #divLogo{
        width: 30%;
    }
    #divLogo img{
        height: auto;
        width: 60%;
    }
    #divSearch{
        width: 50%;
        height: 40%;
        margin: 5% 0;
    }
    #divSearch input {
        border: 1px solid;
    }
    #divSearch form {
        display: flex;
    }
    #search{
        width: 20%;
        height: 2em;
        background: url("../img/search2.png")no-repeat 50% 50%;
        border: 0;
    }
    #divNavTrigger{
        width: 20%;
        padding: 4% 6% 4% 6%;
        position: absolute;
        right: 0;
        z-index: 2;
    }
    .divNavAxis{
        width: 100%;
        height: 3px;
        background: black;
        margin-bottom: 30%;
        transition: transform .4s;
    }
    .trigger>div:first-of-type{
        transform: translateY(10px)rotate(45deg);
    }
    .trigger>div:nth-of-type(2){
        transform: translateY(-3px) rotate(-45deg);
    }
    .trigger>div:nth-of-type(3){
        transform: translateY(-15px) rotate(45deg);
    }
    .verticalThird{
        height: 33.33%;
        width: 100%;
        padding: .5em;
    }
    .verticalHeader{
        height: 10%;
    }
    h3{
        margin: 0;
    }
}